/* cover_section */

.cover_section {
    position: relative;
    z-index: 2;

    &__bg {
        position: absolute;
        z-index: 3;
        width: calc(100vw - #{$scrollbar});
        max-width: $screen_limit; 
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    &__content {
        position: relative;
        z-index: 10;
        @include align-container();

        @include upto(large-screens) {
            padding-top: $base*15;
            padding-bottom: $base*5;
            height: 100vh;
        }

        @include for(large-screens) {
            min-height: 100vh;
            padding: 22vh 0 90px;
        }
    }

    &__grid {
        @include upto(large-screens) {
            height: 100%;
            display: flex;
            flex-flow: column;
        }
    }

    @include for(large-screens) {
        &.desktop-left &__grid {
            width: 60%;
        }

        &.desktop-right &__grid {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__widget {
        @include upto(large-screens) {
            margin-top: $base*4;
        }

        @include for(large-screens) {
            background: $color-white;
            width: 375px;
            border-radius: 2px;
            border: 1px solid $color-border;
            padding: $base*5;

            &:empty {
                opacity: 0;
            }
        }
    }

    @include for(large-screens) {
        &.desktop-left &__widget {
            margin-top: $base*8;
        }

        &.desktop-right &__widget {
            flex: 0 0 auto;
        }
    }

    &__header {
        @include upto(large-screens) {
            display: flex;
            flex-flow: column;
            flex: 1 1 auto;
        }
    }

    @include upto(large-screens) {
        &.mobile-variant_one &__header {
            justify-content: space-between;
        }
    }

    @include for(large-screens) {
        &.desktop-right &__header {
            width: 60%;
            padding-bottom: $base*5;
        }
    }

    &__title {
        font-family: $title;

        @include upto(large-screens) {
            font-size: 50px;
        }

        @include for(large-screens) {
            font-size: 60px;
        }
    }

    @include upto(large-screens) {
        &.mobile-variant_two &__title {
            margin-top: auto;
        }
    }

    @include for(large-screens) {
        &.desktop-right &__title {
            margin-bottom: $base*6;
        }
    }

    &__lead {
        margin-top: $base*4;

        &.subtitle {
            font-family: $title;
            line-height: 1.2;
        }

        &.lead {
            font-family: $text;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    .state-closed &__lead {
        @include upto(large-screens) {
            display: none;
        }
    }

    .wpbutton.filled {
        padding: 16px 8px;
    }


    @include upto(large-screens) {
        z-index: 200;
    }

    @include upto(medium-screens) {
        
    }

    @include between(medium-screens, large-screens) {
        min-height: 60vh;
    }
}

.the-content h1.cover_section__title {
    line-height: 1;
    margin-bottom: 0;
}


.thankyou-widget {

    &__text {
        @include upto(large-screens) {
            margin-bottom: $base*4;
        }

        @include for(large-screens) {
            margin-bottom: $base*6;
        }
    }

    &__button {
        margin-top: auto;

        .wpbutton {
            width: 100%;
        }
    }

    @include for(large-screens) {
        min-height: 375px - 60px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}

.notice-widget {

    &__text {
        font-size: 1.2em;

        @include upto(large-screens) {
            color: $color-white;
        }
    }

    @include upto(large-screens) {
        background: $basic_button;
        padding: $base*4;
    }

    @include for(large-screens) {
        min-height: 375px - 60px;
    }
}

.compact-widget {

    &__target {
        margin-bottom: $base*4;
    }
    
    @include upto(large-screens) { 

        &__form {
            background: transparent;
        }

        .fcon-form {
            background: transparent;
            z-index: 200;

            &__title, &__amount, &__period {
                display: none;
            }

            &__submit {

                .fcon-donate-button {
                    width: 100%;
                    padding: 20px 30px;
                    font-size: 19px;
                    max-height: none;
                }
            }
        }
    }

    @media screen and (max-width: 340px) {
        .fcon-form__submit .fcon-donate-button {
            font-size: 17px;
            padding: 18px 10px;
        }
    }

}
